.container {
  margin: 50px 0px;
}
.border-info {
  border: 2px solid blue;
  width: 95%;
}
.nav-info {
  color: black;
}
.center {
  text-align: center;
  padding: 50px 60px 30px 0;
}
.part-1 {
  background-color: rgba(241, 248, 247, 0.708);
}
.part-2 {
  padding: 0 50px;
}
.table-st > tbody > tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}
.form-control {
  margin: 5px 0 10px 0px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.modal-body > form > label {
  font-weight: 500;
}
